$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;

$headings-font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
